.newCollections {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-bottom: 100px;
}

.newCollections h1 {
  color: #171717;
  font-size: 40px;
  font-weight: 600;
}

.newCollections hr {
  width: 200px;
  height: 6px;
  border-radius: 10px;
  background: #252525;
}

.newCollections-item {
  margin-top: 50px;
  display: flex;
  gap: 30px;
}

.collections {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-top: 50px;
  gap: 30px;
}

@media screen and (max-width: 500px) {
  .item {
    width: 80%;
  }
  .item img {
    width: 80%;
  }
  .collections {
    grid-template-columns: 1fr 1fr;
  }
  .newCollections h1 {
    font-size: 30px;
  }
  .newCollections hr {
    width: 150px;
  }
}